<form action="/creatures" method="POST">
    <label for="creatureName">Type</label>
    <input type="text" id="creatureName" name="type">
    <label for="creatureType">Image URL</label>
    <input type="text" name="image_url" id="creatureType">
    <input type="submit" value="Add a Creature">
</form>